
<ion-view hide-back-button="false">


     <ion-content scroll="false">


 <ion-scroll id='expandedEvent'  scrollbar-y="true">

<br>

          <img class="singleImage" src="{{getCover(singleProfileWatch.watchPhoto)}}">


              <div class="watchFeedBtns2">
        <h2 class="watchName">{{singleProfileWatch.watchName}}</h2>

             <h2 ng-if="singleProfileWatch.watchLikes.length!=1" class="likePrice">{{singleProfileWatch.watchLikes.length}} likes</h2>
        <h2 ng-if="singleProfileWatch.watchLikes.length==1" class="likePrice">{{singleProfileWatch.watchLikes.length}} like</h2>


               <i ng-click="addWish(singleProfileWatch);" ng-show="!liked(singleProfileWatch)" class="icon ion-ios7-heart-outline"></i>
               <i ng-click="removeWish(singleProfileWatch); " ng-show="liked(singleProfileWatch)" class="icon red ion-ios7-heart"></i>
                <!-- </div> -->
               <i ng-click="openAddCollection(singleProfileWatch)" class="icon ion-ios7-plus-empty"></i>
               <i ng-click="shareBtn('Check out this watch (via dimepiece.co)', 'Check This Dimepiece.',singleProfileWatch.watchPhoto, null);" class="icon ion-ios7-upload-outline"></i>

              </div>

                <a class="button unMenu33 icon-right ion-ios7-arrow-right" ng-click="goAmazon(singleProfileWatch.watchLink)">{{singleProfileWatch.watchPrice}} on Amazon</a>

          <div ng-if="singleProfileWatch.watchLikes.length>0" class="watchLikeSection">
                    <p ng-if="singleProfileWatch.watchLikes.length>1">{{singleProfileWatch.watchLikes.length}} likes</p>
                  <p ng-if="singleProfileWatch.watchLikes.length<2">{{singleProfileWatch.watchLikes.length}} like</p>
                  <div ng-if="hasPics(singleProfileWatch.watchLikes)>0" ng-repeat="like in singleProfileWatch.watchLikes | filter:hasUserPic | limitTo:4">
                    <img ng-if="like.userPic.length>0" class="profImg2 floatLeft" ng-click="goProfilePerson(like)" ng-src="data:image/jpg;base64,{{like.userPic}}">
                  </div>
                  <div ng-if="hasPics(singleProfileWatch.watchLikes)<4" ng-click="goProfilePerson(like)" ng-repeat="like in singleProfileWatch.watchLikes | filter:hasNoUserPic | limitTo: hasPics2(singleProfileWatch.watchLikes)">
                    <a ng-if="like.userPic.length==0" class="floatLeft gray ion-android-image"></a>
                  </div>


                     <div ng-if="singleProfileWatch.watchLikes.length>4" class="watchLikeExtra">
                  +{{singleProfileWatch.watchLikes.length-4}}
                </div>
                </div>
                    <div ng-repeat="collection in singleProfileWatch.tags | limitTo: 2">
                  <h2 class="relatedCollectionName">{{relatedCategory(collection)}}</h2>
                  <div class="collectionSection" ng-repeat="watch in watchList| filter: {tags:collection} | filter: relatedProfCol | limitTo: 3">
                    <img ng-click="expandProf2(watch)" class="collectionItem4" src="{{collectionWatchPic(watch)}}">
                  </div>
                </div>



</ion-scroll>



 </ion-content>



</ion-view>
