
<ion-view hide-back-button="false">


     <ion-content scroll="false">


 <ion-scroll id='expandedEvent'  scrollbar-y="true">

<br>
          <img class="singleImage" src="{{getCover(singleShopWatch.watchPhoto)}}">


              <div class="watchFeedBtns2">
        <h2 class="watchName">{{singleShopWatch.watchName}}</h2>
        <h2 ng-if="singleShopWatch.watchLikes.length!=1" class="likePrice">{{singleShopWatch.watchLikes.length}} likes</h2>
        <h2 ng-if="singleShopWatch.watchLikes.length==1" class="likePrice">{{singleShopWatch.watchLikes.length}} like</h2>


               <i ng-click="addWish(singleShopWatch);" ng-show="singleShopWatch.liked!=true" class="icon ion-ios7-heart-outline"></i>
               <i ng-click="removeWish(singleShopWatch); " ng-show="singleShopWatch.liked==true" class="icon red ion-ios7-heart"></i>
                <!-- </div> -->
               <i ng-click="openAddCollection(singleShopWatch)" class="icon ion-ios7-plus-empty"></i>
               <i ng-click="shareBtn('Check out this watch (via dimepiece.co)', 'Check This Dimepiece.',singleShopWatch.watchPhoto, null);" class="icon ion-ios7-upload-outline"></i>

              </div>

                 <div ng-click="expandEvent()" ng-if="singleShopWatch.description!=null" class="item-text-wrap">
                <div class="item item-icon-left item-divider">
                  <i class="icon ion-clipboard"></i>
                  Watch Info
                </div>
                <br>
                <div id="eventDiv2" ng-show="showEventDesc" class="item animate-if">
                 {{ singleShopWatch.description}}
               </div>
              </div>

              <!-- <div class = " "> -->
                <a class="button unMenu33 icon-right ion-ios7-arrow-right" ng-click="goAmazon(singleShopWatch.watchLink)">{{singleShopWatch.watchPrice}} on Amazon</a>

                   <div ng-if="singleShopWatch.watchLikes.length>0" class="watchLikeSection">
                    <p ng-if="singleShopWatch.watchLikes.length>1">{{singleShopWatch.watchLikes.length}} likes</p>
                  <p ng-if="singleShopWatch.watchLikes.length<2">{{singleShopWatch.watchLikes.length}} like</p>
                  <div ng-if="hasPics(singleShopWatch.watchLikes)>0" ng-click="goShopPerson(like)" ng-repeat="like in singleShopWatch.watchLikes | filter:hasUserPic | limitTo:4">
                    <img ng-if="like.userPic.length>0" class="profImg2 floatLeft" ng-src="data:image/jpg;base64,{{like.userPic}}">
                  </div>
                  <div ng-if="hasPics(singleShopWatch.watchLikes)<4" ng-click="goShopPerson(like)" ng-repeat="like in singleShopWatch.watchLikes | filter:hasNoUserPic | limitTo: hasPics2(singleShopWatch.watchLikes)">
                    <a ng-if="like.userPic.length==0" class="floatLeft gray ion-android-image"></a>
                  </div>


                     <div ng-if="singleShopWatch.watchLikes.length>4" class="watchLikeExtra">
                  +{{singleShopWatch.watchLikes.length-4}}
                </div>
                </div>

                <div ng-repeat="collection in singleShopWatch.tags | limitTo: 2">
                  <h2 class="relatedCollectionName">{{relatedCategory(collection)}}</h2>
                  <div class="collectionSection" ng-repeat="watch in watchList| filter: {tags:collection} | filter: relatedShopCol | limitTo: 3">
                    <img ng-click="expandCat2(watch)" class="collectionItem4" src="{{collectionWatchPic(watch)}}">
                  </div>
                </div>



</ion-scroll>



 </ion-content>



</ion-view>
