
.loginRefresh{
  margin-top: 20%;
}
.profileRefresh{
  margin-top: 10%;
}

.cardName{
  font-size: 22px!important;
  color: white;
}
.bottomTab2{
  background-color: #ecf0f1;
   opacity: 1;
   color:black;
}
.cardName2{

  font-size: 22px!important;
  color: white;
  text-wrap:none;
  overflow: none;
}
.loadingTin{
  color:white;
  font-size: 75px;
  margin-top:55%;
}

.tinderTxt{
  max-height:150px;
}
#tinderTxt2{
  overflow: none;
  white-space: nowrap;
}
.middleTab{
   color:#141414;
   opacity: .9;
     font-size: 36px!important;
     z-index: 999!important;
}
.middleTab2{
   color:#2a4759;
     z-index: 999!important;
}

.menuDivider{
  border:1px solid #141414;
  color:#141414;
  background-color: gray;
  width: .5px;
  height:69px;
  bottom:-40px;
  left:35%;
  position: absolute;
}
.menuDivider2{
  border:1px solid #141414;
  color:#141414;
  background-color: gray;
  width: .5px;
  height:69px;
  bottom:-40px;
  left:71%;
  position: absolute;
}

@-webkit-keyframes colorPulse { 0% {color: red;} 100% {color: white;} }
@-webkit-keyframes faderInto { 0% {opacity: 0;} 20% {opacity: 0;} 100%{opacity: 1;} }

.prof-image2{
    position: absolute;
  left: 48%;
  top:1%;
  -webkit-animation: colorPulse 2s infinite;
}
.prof-image3{
    position: absolute;
  left: 48%;
  top:1%;
  -webkit-animation: colorPulse 2s;
}
.tabDiv3{
   width:125px;
   z-index: 999;
}

.topMenu2{
  position: absolute;
  left: 85%;
  color:gray;
  top:-2px!important;
  opacity: .9;
  padding-left: 3%;
  padding-bottom: 2%;
  font-size: 50px!important;
}


.invFrTxt{
  color:blue;
}

.notifications{
  padding: 5%;
}

.whiteTxt{
  color:#fefdfb!important;
  background-color: #ff6030!important;
  text-align: center;
  text-indent: 15%;
  font-size: 16px;
  font-weight: bold;
  line-height:20px;
}

.whiteTxt2{
  color:#fefdfb!important;
  padding-right: 9%!important;
  font-size: 17px!important;
}

.inputField{
      /*border-radius: none!important;*/
      padding-top: 10%;
      /*padding-bottom: 2%;*/
      /*margin-top: 5%;*/
      width:60%;
       padding-left: 5%!important;

}
.searchFieldIcon{
       margin-top: 6%;
}


@-webkit-keyframes popoverBackFadeIn{ 0% {background-color: rgba(0, 0, 0, 0);} 100% {background-color: rgba(0, 0, 0, .25);} }
@-webkit-keyframes expandInto { 0% {margin-top: -50%;} 100% {margin-top: 0px;} }


.popoverBack{
    margin-top:10px;

    height: 88%;
    background-color: rgba(0, 0, 0, .25);
       -webkit-animation: popoverBackFadeIn 1.75s;

}

.pBB2{
   -webkit-animation: expandInto .35s;

     opacity: .95;

}
.popoverBack .item{

  border-top: .5px solid lightgray!important;
}
.createCollBtn{

  background-color:#ff6030;
  color:white;
  border: 2px solid #ff6030;
  font-family: 'Gafata', sans-serif;
  opacity: .9;

  margin-left: 22%;
  border-radius: 5%!important;

  font-size:14px!important;

    padding-left:8%!important;
    padding-right:8%!important;
    padding-top:2%!important;
    padding-bottom:2%!important;
     margin-bottom: 10%;

}
.bufferColl{
  border-top: 1px solid lightgray;
  min-height: 30px;
}
.addCollectionPopoverBack{

    background-color: rgba(0, 0, 0, .25);
    -webkit-animation: popoverBackFadeIn 1.75s;
}


.collectionAddBack{

  top:10%;
    overflow: scroll!important;

  background-color: white;
  opacity: .95!important;
  border-top: 1px solid lightgray;
}

.createNewField{
  margin-left: 5%;
  font-family: 'Gafata', sans-serif;
  font-size: 21px;
}
.collections{
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms  ease-in-out;
  transition: opacity 350ms ease-in-out;
    padding: 0%;
     margin-right: -1px!important;
    border-top:1px solid lightgray;
}
.profCollectionBtn{
      height:50%!important;
      display: block!important;
      padding-top: 50%;
      color:white!important;
      text-align: center;
      margin-left: 1px!important;

}
.profCollectionDelete{
  background-color:#ef4e3a;
    font-size: 40px;
}
.profCollectionShare{
  background-color:#1aacc3!important;
    font-size: 36px;
}
.profCollectionShare:active{
  background-color:#009ba2!important;
}
.deleteCollectionText{
  font-size: 16px;
  color:gray;
  padding: 3%;
  margin: 0;
  padding-bottom:4%;
  line-height: 1;
  background-color: white!important;
}
.collectionSection{
  display: inline;
    min-height: 50px!important;
}
.radioColl{
  float:left;
  padding-top: 15%;
  color:lightgray;
  font-size: 34px;
  margin-left: 5%;
  margin-right: 6%;
}
.collectionItem4{
  max-height: 100px;
  margin-bottom: 3%;
  margin-right:2.5%;
  opacity: 1;
}
.collectionItem4:active{
  opacity: .75;
}
.collectionItem3{
  max-height: 125px;
  margin-bottom: 3%;
  margin-right: 2%;

}
.collectionItem2{
  min-height: 83px;
  margin-bottom: 3%;
  margin-right: 1%;
}
.collectionItem{

margin-right: 1%;
max-height: 75px;
margin-bottom: 3%;

}
.relatedCollectionName{
 text-align: left;
    font-family: 'Gafata', sans-serif;
  font-size: 21px;
  color:gray;
  padding-top: 7%;
   clear: both;
   padding-left: 10%;
   border-top: 1px solid lightgray;

}
.collectionName{
  color:black;
  text-align: center;
  width: 115%!important;
     text-overflow: ellipsis;
  margin-bottom: 5%!important;
  margin-top: -8px!important;
  font-size: 22px!important;
  font-family: 'Gafata', sans-serif;

}
.addCollectionName{
  color:black;
  text-align: left;
     text-overflow: ellipsis;
  margin-bottom: 4%!important;
  margin-top: 2%!important;
  font-size: 20px!important;
  font-family: 'Gafata', sans-serif;

}
.createCollPic{
  width: 33%;
  max-height: 200px;
  padding-top: 5%;
  margin-bottom: 5%;
  margin-left: 33%!important;

}
.createCollTitle{
    text-align: center;
    color:gray;
    padding-top: 5%;
          font-size:19px;
}


.singleNot{
  padding: 1.5%;
  border: 3px solid #141414;
  border-radius: 3%;
  background-color: #2ecc71;
}

.feedPic{
  border-radius: 100%;
  opacity: 1!important;
  border: #141414 2px solid;
  margin-left: 10%;
}
.profHead{
font-family: 'Gafata', sans-serif;
font-size: 22px;
text-align: center;
}

@font-face {
font-family: 'Gafata';
font-style: normal;
src: url(../css/Gafata/Gafata-Regular.ttf) format('truetype');
}
@font-face {
font-family: 'Roboto';
font-style: normal;
src: url(../css/Roboto/Roboto-Regular.ttf) format('truetype');
}

@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.addSubText{
  color:white;
  font-weight: bolder;
  font-family: 'Gafata', sans-serif;
  font-size: 17px;
  text-align: center;
}

#re1{
  color:white!important;
}

.signUpText{
  padding-bottom: 4%;

}

.LogInContent{
  margin-top: 22.5%;
  text-align: center!important;
}
.signInContent{
  margin-top: 25%;
  text-align: center!important;
}
*::-webkit-input-placeholder {
  font-size:17px;
  color:lightgray;
  padding-bottom: 50%!important;
}
*:-moz-placeholder {
    font-size:17px;
  padding-bottom: 50%!important;
}
*:-ms-input-placeholder { /* IE10+ */
    font-size:17px;
  padding-bottom: 50%!important;
}
.placeholder-icon {
  color: #2a4759;
  font-size: 20px;
  position: absolute;
  left: 20px;
  padding-top: 1%;

  opacity: .85;
}
.paddLeft{
padding-left: 3px!important;
}

.shopFull .item{
    border:none;
}
.createAccount{
    color: #22A7F0!important;
      font-size: 15px;
}

.createAccount:active{
  opacity: .4!important;
}

.profSpot{
  margin-bottom: 5px;
  font-size: 55px;
  color:gray;
}
.profSpot2{
  border: gray 1px solid;
  height:75px;
  width: 75px;
}
.topCancel{
  position: absolute;
  color:#8A888F;
  left: 2.5%;
  bottom:4%;
  font-size: 17px;
  z-index: 999;
  padding-right: 8%;
}
.popup-title{
   color:black;
}

.eventForm{
  margin-bottom: 5%;
  color:white;
  font-family: 'Gafata', sans-serif;
}

.thing4{
  color:white!important;
  border: 1px solid gray!important;
  margin-top: 0px;
}
.thing6{
  margin-top: 10%;
  background-color: black;
}
.thing4 .item{
  color:white!important;
}

.thing5{
  width: 80%!important;
  margin-left: 10%!important;
  margin-bottom: 35px;
}

.scroll-view{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.red{
  color:red!important;
}
.watchLikeSection{
   display: block;
   margin-left: 10%;
}
.gray{
  color:gray;
  font-size: 1.38em;
  margin-bottom: 20px;
}
.watchLikeExtra{
  font-size: 19px;
  color:gray;
  opacity: .9;
    padding-top: 5%;
    padding-left: 2%;
  float:left;
}
.watchLikeSection p{
  text-align: left;
    font-family: 'Gafata', sans-serif;
  font-size: 21px;
  color:gray;
  padding-top: 5%;
  padding-bottom: 1%;
}
.floatLeft{
   float: left;
}
.watchFeedBtns{
  padding-top: 1%;
  padding-bottom: 3%;

}
.watchFeedBtns i{
  font-size: 26px;
  padding-left: 9.5%;
  padding-right:10%;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#141414;

}
.watchFeedBtns2{
  text-align: center;
  padding: 1%;
}

.watchFeedBtns2 i{
    padding: 10.5%;
    padding-top: 4%;
  padding-bottom: 2%;
  text-align: center;
 font-size: 28px!important;
  color:#22A7F0;

}

.eventScroller{

  background-color:gray;
  background-size: cover;
  background-position: auto auto;
border-top: 1px solid lightgray!important;
}

.div12{
  height:1px;
  padding: 0;
  margin: 0;
  color:white;
}

#eventName{
  padding-top: 1%;
  color:#141414;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}
.profilePage{
   -webkit-animation: faderInto .8s;
}
.eventInfoSection{
  color:#141414;
  font-size:30px;
  font-family: 'Roboto', sans-serif;
}
.shopFull{
    -webkit-animation: faderInto .7s;
}
.mesh{
    -webkit-animation: faderInto .8s;
}
.mesh2{
  background-color: black!important;

}

.thing8{
  width: 65%;
  padding-left: 27%;
}

.topDiv{
    background-color: black;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 0;
}

.thing1{
  border: 1px solid black;
  background-color: black;
}
.dateInput{
  max-width: 41%;
  font-size: 16px!important;
  height: 20px!important;
  margin-right: 5%;
  float: left;
}


.wholeEventsPage{
  padding-top:10px;
  background-color: lightgray;
  top:0;
    z-index: 1;
    background-size: cover;
    height: 100%;
}

 .loginTxt{
    padding-top:20%;
    font-size: 20px;
    color:#141414;
    opacity: .8;
    font-weight: bold;
}
.loginX{
    margin-top:63%!important;
    margin-left: 1.2%;
    font-size: 110px;
    color:#141414;
    opacity: .8;
    font-weight:bold;
}
  .loginPromptLog{
  padding-bottom: 15%;
}

 @media (device-height:568px) {
  .loginTxt{
    padding-top:25%;
    font-size: 19px;
    color:#141414;
    opacity: .8;
    font-weight: bold;
}
.loginX{
    margin-top:70%!important;
     margin-left: 1.2%;
    font-size: 110px;
    color:#141414;
    opacity: .8;
    font-weight:bold;
}
  .loginPromptLog{
  padding-bottom: 25%;
}
.loginPromptClose{
  padding-bottom: 25%;
}
.popoverBack{
    height: 89%;
}
   }

    .unMenu2{
 background-color: #ecf0f1;
    opacity: 1;
  font-size: 36px;
    text-align: center;
     margin-bottom: 0;
      padding-top: 1%;
        padding-bottom: 1%;
      display: inline;
      border-top: .5px solid lightgray;
}
.bottomBordAdd{
    border-bottom: .5px solid #2a4759;
     background-color: #ecf0f1;
}
.modal{
  top:0!important;
}

.searchIcon{
  right: 8%;
  top: 48%;
  font-size: 26px;
  z-index: 999!important;
  padding-left: 2%;
  padding-bottom: 2%;
  position: absolute;
}
.priceArrow{
  font-size: 35px;
   padding-left: 10%;
   background-color: blue;
}
.streamArrow{
  font-size: 16px;
  padding-left: 1%;
  z-index: 9;
}
.activeTab{
  color:#ff6030;
  opacity: 1;
}
.logOut{
  color:red;
}
.profileBody{
  padding-top: 18%;
}
.profileBtns{
  width: 95%;
  margin: auto;
  padding-bottom: 13%;
}
.leftTog{
    border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
   border-right: none;
}

.rightTog{
    border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
      border-left: none;

}
.profBtn1{
    font-size: 14px;
   background-color: gray;
     border: 1px solid gray;
     color:white;
       padding: 1.3%;
       padding-right: 6%;
       padding-left: 6%;
        display: inline;
        float: left;
         width: 50%!important;
}
.profBtn2{
  font-size: 14px;
   background-color: white;
     border: 1px solid gray;
     display: inline;
     color:gray;
       padding: 1.3%;
       padding-right: 6%;
       padding-left: 6%;
       float: left;
       width: 50%!important;
}
.topProfile{
  z-index: 999!important;
  padding-bottom:10%;
  width: 20%;
  top:5.5%;
  right:-2%!important;
  font-size: 25px;
  color: gray;
  opacity: .75;
  position: absolute;
}

.front{
  z-index: 999;
  padding-top: 4%;
  padding-bottom: 1%;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.front:active{
  -webkit-transition: opacity linear 200ms;
        -webkit-transition-delay: .3s; /* Safari */
    transition-delay: .3s;
      opacity: .8;
}

#expandedEvent .watchName{
  padding-top: 7%;
    font-size: 18px;
  font-family: 'Gafata', sans-serif;
  color:#141414;
  text-align: center;
  padding-left: 8.5%;
  padding-right: 8.5%;
  opacity: .9;
}

.watchFeedBtns .watchName{
    font-size: 17px;
  font-family: 'Gafata', sans-serif;
  color:#141414;
  opacity: .9;
  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
  white-space: nowrap;
      overflow: hidden;
      o-text-overflow: ellipsis;
      text-overflow: ellipsis;
}
.profileName{
    font-size: 22px;
  font-family: 'Gafata', sans-serif;
  color:#141414;
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
   margin-top: 3%!important;
}
.profImg{
  height:50px!important;
  width: 50px!important;
  margin-bottom: 5px;
}
.profImg2{
  height:50px!important;
  width: 50px!important;
  margin-bottom: 20px;
}
.profileUsername{
  font-size: 13px;
  font-family: 'Gafata', sans-serif;
  color:#9fabb7;
  opacity: .8;
  text-align: center;
   margin-top: -1.5%!important;
   padding-bottom: 1%;
}
.likePrice{
  font-size: 16px;
  font-family: 'Gafata', sans-serif;
  color:#9fabb7;
  text-align: center;
   margin-top: -2%!important;
   padding-bottom: 1%;
}

 .unMenu22{
  background-color: white;
  width: 100%!important;
  z-index: 999!important;
  padding-bottom:5%;
  padding-top: 10.5%;
  text-align: center!important;
  top:0%;
  border-bottom: .5px solid lightgray;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Gafata', sans-serif;
  opacity: 1;
  color: #141414;
  position: absolute;
}
 .unMenu33{
  background-color: #ff6030;
  width: 100%;
  margin-top: 4.5%;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom:3%;
  text-align: center;
  border:none;
  border-radius: none;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Gafata', sans-serif;
  color: white!important;
}
.joinTxt{
    font-size: 18px;
    color:white;
    opacity: .9;
    font-weight: bold;
}



.ng-enter #loginPromptContent {
    opacity: 0;
  }
  .ng-leave #loginPromptContent {
    opacity: 0;
  }

.loginBack{
  text-align: center;
  background-color: #ecf0f1;
  opacity: 1;
  width: auto!important;
    -webkit-animation: faderInto .5s;
}

 .unMenu42{
  background-color: #ff6030;
  width: 100%!important;
  z-index: 999!important;
  padding-top:24%;
  padding-bottom: 24%;
  position: absolute;
}

  #eventList{
  margin: auto;
  margin-top: 20%;
  margin-bottom:0;
  bottom: 0%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;

}
.shopCat{
    border-top:1px solid lightgray;
  width:50%;
  opacity: 1;
  background-color: white;
  float: left;
  text-align: center;
   border-left: 1px solid lightgray;
    height: 175px!important;
}

.shopCat:active{
  -webkit-transition: opacity linear 200ms;
        -webkit-transition-delay: .3s; /* Safari */
    transition-delay: .3s;
      opacity: .8;
}

.shopCatImg{
    max-width: 44%;
    height:60%;
    margin: auto;
    margin-top: 24px!important;
}
.shopCatName{
       margin: auto;
  font-size: 14px;
  color:lightgray;
  background-color: transparent!important;
  padding-top: 1px!important;
  padding-bottom: 1px!important;
  bottom:-15px!important;
}

  #shopListBack{
  margin-top: 20%;
  background-color: #141414;
  width: 100%;
  height: auto!important;
}

#adoptHead{
  color:white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-family: 'Gafata', sans-serif;
  text-align: center;
}

#adoptSub{
  color:white;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Gafata', sans-serif;
  text-align: center;
}

.submitBtn{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#adoptPic{
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 0;
  padding-top: 15%;
  margin-bottom: -25px;
  font-size: 180px;
  color:white;

}

#adoptPic2{
  margin: auto;
  padding-left: 28%;
  padding-right: 25%;
  padding-top: 15%;
  font-size: 180px;
  color:white;

}

.wholeEventsPage .item-body{
  margin: auto;
  padding: auto;
  border:1px solid black;
  text-align: center;
  z-index: 0;
}

.wholeEventsPage .item-content{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  width: 90%;

}

.fade-bar222 {
  height: 20px;
  width: 10%;
  position: fixed;
  z-index: 999;
  opacity: 0;
  background-color: white;
}


#unMenu{
  float: left;
  z-index: 999;
  height:0;
  width:5%;
  padding-right: 7%;
  padding-left: 7%;
  padding-top: 3.5%;
  max-width: 8%;
  color: black;
  position: absolute;
  right:5%;
}

.unMenu3{
  background-color: transparent!important;
  border:none!important;
  float: left;
  z-index: 999;
  padding-right: 7%;
  padding-left: 9%;
  padding-top: 2%;
  max-width: 10%;
  font-size: 45px!important;
  color: white!important;
  position: absolute;
  left:0px;
}
.unMenu4{
  background-color: transparent!important;
  border:none!important;
  float: left;
  z-index: 999;
  padding-right: 7%;
  padding-left: 6%;
  top: 85%;
  max-width: 10%;
  font-size: 45px!important;
  color: white!important;
  position: absolute;
  left:0px;
}

.full-image {
  max-height:290px;
  min-height: 150px;
  max-width: 48%;
  padding-top:5%;
    z-index: 999!important;
  padding-bottom:7%;
}

.wholeEventsPage .item{
  width: 100%;
  height: 100%;
  padding-right: 0px;
  margin-right: 0px;
  border: none;
  background-image: url("../images/transimg.gif");
  background-position: center;
  background-repeat: repeat;

}

.item-complex{
  background-color: lightgray!important;
  padding-right: 0px;
  margin-right: 0px;
}

#helpBtn{
  float: left;
  padding-left: 3.2%;
  padding-top: 7.4%;
  color: blue;

}

#eventBtn{
  float: left;
  padding-left: 3.2%;
  padding-top: 7.4%;
  color: blue;

}

.ion-android-note{
  vertical-align: center;
}

button{
  margin-top: -2.2px;
  z-index: 999;
}

#expandedEvent{
  background-color: white;
  width: 100%;
   -webkit-animation: faderInto .7s;

}
#expandedEvent i {
   font-size:30px;
  color:#141414;
}
.singleImage{
  min-height: 20%;
  max-height:50%;
    z-index: 999!important;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.adoptBack{
  background-color: black;
  height: auto;
  width: auto!important;
}

.adoptBtn{
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 5%;
  margin-right: 5%;
  background-color:black!important;
  color:#00EEEE!important;
  border: 2px solid #00EEEE!important;
}

.enterBtn{
  padding-left: 10%;
  padding-right: 10%;
  margin:auto;
  margin-left: 5%;
  width: 52%;
  /*margin-right: 10%;*/
  background-color:black;
  color:#00EEEE!important;
  border: 2px solid #00EEEE!important;
}

.adoptBtnLong{
  padding-left: 10%;
  padding-right: 10%;
  width: 90%;
  margin-left: 5%;
  font-family: 'Gafata', sans-serif;
}

#expandedMenu{
  padding-left: 6%;
  padding-right: 6%;
  opacity: .9;
}
.backBar{
  background-color: transparent!important;
  padding-left: 7.5%;
  padding-right: 5%;
}
.transMe{
    background-color: transparent!important;
}
.backBar2{
  background-color: transparent!important;
  border: none!important;
}
.topBtn{
  font-size: 42px;
  color:gray;
    background-color: transparent;
  -webkit-animation: faderInto 1s;
}

.bottomIcon{
  left: 0px;
}

#expandedEvent .item-text-wrap{
  color:white;
font-family: 'Gafata', sans-serif;
}

#expandedEventName{
  color:white!important;
}
#expandedEventName2{
  font-size: 40px;
}

#shareBtnId{
  float: right;
  font-size: 40px;
  padding-top: 1%;
}
#backBtnId{
  color:gray;
  z-index: 999!important;
  padding-left: 50px!important;
  padding-bottom: 25px!important;
  float: right;
  padding-top: 12px!important;
  padding-right: 10px!important;
  opacity: .7;
}

#eventLink{
  float:left;
  padding-bottom: 5%;
}
